@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    @apply w-full border-none;
}
.react-calendar__tile {
    @apply text-xs md:text-sm;
}
.react-calendar__navigation {
    @apply mb-2;
}
.react-calendar__month-view__days__day--weekend {
    @apply text-red-500;
}

@keyframes pulse-slow {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.9; }
  }
  .animate-pulse-slow { animation: pulse-slow 4s ease-in-out infinite; }